/* source-serif-pro-regular - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url('../fonts/source-serif-pro-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-serif-pro-v6-latin-regular.woff') format('woff');
  /* Legacy iOS */
}
/* source-serif-pro-600 - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), /* IE6-IE8 */ url('../fonts/source-serif-pro-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-serif-pro-v6-latin-600.woff') format('woff');
  /* Modern Browsers */
  /* Legacy iOS */
}
/* source-serif-pro-700 - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'), url('../fonts/source-serif-pro-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-serif-pro-v6-latin-700.woff') format('woff');
  /* Legacy iOS */
}
/* stylelint-disable */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
/* stylelint-enable */
.page {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Source Serif Pro";
  font-size: 14px;
  line-height: auto;
  color: #1d1c1c;
  background-color: #ffffff;
  margin: 0 auto;
  overflow-x: hidden;
}
.page-header {
  background-color: transparent;
}
.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}
.main-nav__list {
  display: none;
  background-color: #f8f8f8;
}
.main-nav__number {
  display: none;
}
.main-nav__logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 50;
  width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-nav__toggle {
  position: relative;
  width: 21px;
  height: 21px;
  margin-right: 20px;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  position: absolute;
  z-index: 50;
  top: 5px;
  display: block;
  width: 20px;
  height: 2px;
  content: '';
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: 5px;
  right: 10px;
  display: block;
  width: 25px;
  height: 14px;
  content: '';
  background-image: url(../../img/menu-mobile.png);
}
.main-nav--closed .main-nav__toggle::after {
  display: none;
}
.main-nav--no-js .main-nav__toggle {
  display: none;
}
.main-nav--opened .main-nav__list {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  display: block;
}
.main-nav--no-js .site-navigation {
  display: block;
}
@media (max-width: 763px) {
  .main-nav--no-js .main-nav__toggle {
    display: none;
  }
  .main-nav--closed .site-navigation {
    display: none;
  }
  .main-nav--opened .site-navigation {
    display: block;
  }
  .main-nav--no-js .site-navigation {
    display: block;
  }
}
@media (min-width: 764px) {
  .main-nav--closed .main-nav__toggle::before {
    background-image: url(../../img/menu-tablet.png);
  }
  .main-nav__number {
    display: block;
    margin-left: 148px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    color: #3b3b3b;
    font-size: 18px;
    font-weight: 600;
  }
  .main-nav {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 764px;
  }
  .main-nav__logo-wrapper {
    margin: 0;
    width: auto;
  }
  .main-nav--opened .main-nav__number {
    display: none;
  }
  .main-nav__toggle {
    margin-left: 140px;
    margin-right: 0;
  }
  .main-nav--opened .main-nav__toggle {
    margin-left: 500px;
  }
}
@media (min-width: 1440px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav {
    width: auto;
  }
  .main-nav__number {
    margin: 0;
    color: rgba(144, 144, 144, 0.6);
  }
}
.site-navigation {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 3px;
  padding-top: 100px;
  padding-bottom: 183px;
  text-align: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 764px) {
  .site-navigation {
    padding-top: 200px;
    padding-bottom: 260px;
    font-size: 37px;
  }
}
@media (min-width: 1440px) {
  .site-navigation {
    padding: 0;
    font-size: 18px;
    font-weight: 400 ;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 0;
    margin-right: 78px;
    padding-left: 88px;
    background-image: url(../../img/header-line.png);
    background-repeat: no-repeat;
    -webkit-background-size: 459px 4px;
            background-size: 459px 4px;
    background-position: 60px 35px;
  }
}
.site-navigation__item {
  padding-bottom: 20px;
}
@media (min-width: 764px) {
  .site-navigation__item {
    padding-bottom: 37px;
  }
}
@media (min-width: 1440px) {
  .site-navigation__item {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    padding: 0;
    margin-right: 89px;
  }
}
.site-navigation__item a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 1440px) {
  .site-navigation__item a {
    color: rgba(144, 144, 144, 0.6);
  }
}
.site-navigation__item a:hover {
  color: #909090;
}
.site-navigation__item a:active {
  color: #2a2929;
}
@media (min-width: 1440px) {
  .site-navigation__item--portfolio {
    display: none;
  }
}
.promo {
  color: #ffffff;
  background-color: #838689;
}
@media (min-width: 764px) {
  .promo {
    color: #21201f;
    background-color: #f8f8f8;
  }
}
.promo__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  margin: -37px auto 0;
  padding-top: 193px;
  padding-right: 77px;
  padding-bottom: 148px;
  padding-left: 14px;
  background-image: url(../img/header-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 764px) {
  .promo__wrapper {
    width: 764px;
    margin: -60px auto 0;
    padding-top: 340px;
    padding-right: 400px;
    padding-left: 62px;
    padding-bottom: 80px;
    background-image: url(../../img/Photogrphy-tablet.png), url(../img/header-tablet.png);
    background-repeat: no-repeat no-repeat;
    background-position: 20px 332px, top 0 right 0;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    position: relative;
    margin: -76px auto 0;
    width: 1440px;
    background-image: url(../../img/Photogrphy.png), url(../img/header-desktop.png);
    background-position: 131px 284px, top 0 right 0;
    background-repeat: no-repeat no-repeat;
    padding-top: 310px;
    padding-right: 908px;
    padding-left: 155px;
    padding-bottom: 39px;
  }
}
.promo__title {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1px;
}
@media (min-width: 764px) {
  .promo__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 33px;
  }
}
.promo__description {
  font-size: 14px;
  margin-bottom: 38px;
  opacity: 0.8;
}
@media (min-width: 764px) {
  .promo__description {
    font-size: 16px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1440px) {
  .promo__description {
    font-size: 18px;
    padding-right: 85px;
  }
}
.promo__link a {
  display: block;
}
@media (min-width: 764px) {
  .promo__link {
    margin-bottom: 204px;
  }
}
@media (min-width: 1440px) {
  .promo__link {
    margin-bottom: 220px;
  }
}
.promo-image {
  width: 131px;
  height: 22px;
}
@media (min-width: 764px) {
  .promo-image {
    width: 151px;
    height: 23px;
  }
}
@media (min-width: 764px) {
  .promo-image {
    width: 150px;
    height: 23px;
  }
}
.promo__social {
  display: none;
}
@media (min-width: 764px) {
  .promo__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 764px) {
  .promo__social b {
    display: inline-block;
    margin: 0 2px;
    color: rgba(33, 32, 33, 0.4);
  }
}
@media (min-width: 764px) {
  .promo__instagram,
  .promo__facebook {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(33, 32, 33, 0.4);
  }
}
@media (min-width: 1440px) {
  .promo__instagram,
  .promo__facebook {
    font-size: 14px;
  }
}
.promo__instagram:hover,
.promo__facebook:hover {
  color: rgba(33, 32, 33, 0.8);
}
.promo__pagination {
  display: none;
}
@media (min-width: 1440px) {
  .promo__pagination {
    position: absolute;
    display: block;
    left: 19px;
    top: 280px;
    width: 70px;
  }
  .promo__pagination a {
    display: block;
    margin-bottom: 20px;
  }
  .promo__pagination-item {
    width: 37px;
    height: 22px;
    margin-bottom: 5px;
  }
  .promo__pagination-item--1 {
    background-image: url(../../img/pag/01.png);
    -webkit-background-size: 37px 22px;
            background-size: 37px 22px;
  }
  .promo__pagination-item--2,
  .promo__pagination-item--3,
  .promo__pagination-item--4,
  .promo__pagination-item--5 {
    background-image: url(../../img/pag/line.png);
    -webkit-background-size: 11px 1px;
            background-size: 11px 1px;
    background-repeat: no-repeat;
    background-position: bottom 0 left 12px;
    opacity: 0.3;
  }
}
.content-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
}
.header-logo {
  z-index: 50;
  display: block;
  width: 112px;
  height: 33px;
}
.header-logo[href]:hover {
  opacity: 0.6;
}
.header-logo[href]:active {
  opacity: 0.3;
}
@media (min-width: 764px) {
  .header-logo {
    width: 201px;
    height: 60px;
  }
}
@media (min-width: 1440px) {
  .header-logo {
    width: 254px;
    height: 76px;
  }
}
.header-logo__image {
  display: block;
  width: 112px;
  height: 33px;
}
@media (min-width: 764px) {
  .header-logo__image {
    width: 201px;
    height: 60px;
  }
}
@media (min-width: 1440px) {
  .header-logo__image {
    width: 254px;
    height: 76px;
  }
}
.portfolio__wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 764px) {
  .portfolio__wrapper {
    width: 764px;
    padding: 0 63px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .portfolio__wrapper {
    width: 1440px;
    padding: 0 168px;
  }
}
.portfolio__pagination {
  display: none;
}
@media (min-width: 1440px) {
  .portfolio__pagination {
    position: absolute;
    display: block;
    left: 19px;
    top: 280px;
  }
  .portfolio__pagination a {
    display: block;
    margin-bottom: 20px;
  }
  .portfolio__pagination-item {
    width: 47px;
    height: 30px;
  }
  .portfolio__pagination-item--2 {
    background-image: url(../../img/pag/02.png);
    background-repeat: no-repeat;
    -webkit-background-size: 37px 25px;
            background-size: 37px 25px;
    background-position: bottom 0 right 0;
  }
  .portfolio__pagination-item--1,
  .portfolio__pagination-item--3,
  .portfolio__pagination-item--4,
  .portfolio__pagination-item--5 {
    background-image: url(../../img/pag/line.png);
    -webkit-background-size: 11px 1px;
            background-size: 11px 1px;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    opacity: 0.3;
  }
}
.portfolio__link {
  margin: 0 auto;
  width: 320px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../../img/portf-link-mob.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 320px 380px;
          background-size: 320px 380px;
}
@media (min-width: 764px) {
  .portfolio__link {
    width: 764px;
    padding: 0;
    background-image: url(../../img/portf-link-tab.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 702px 371px;
            background-size: 702px 371px;
  }
}
@media (min-width: 1440px) {
  .portfolio__link {
    width: 1440px;
    background-image: url(../../img/portf-link-desk.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 1128px 506px;
            background-size: 1128px 506px;
  }
}
.portfolio__link-wrapper {
  padding: 120px 76px 115px 46px;
}
@media (min-width: 764px) {
  .portfolio__link-wrapper {
    padding: 106px 240px 113px 283px;
  }
}
@media (min-width: 1440px) {
  .portfolio__link-wrapper {
    padding: 148px 535px 191px 644px;
  }
}
.portfolio__link-title {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  opacity: 0.9;
}
@media (min-width: 764px) {
  .portfolio__link-title {
    font-size: 24px;
    font-weight: 600;
    color: #212021;
    margin: 0;
    opacity: 1;
  }
}
.portfolio__link-description {
  font-size: 14px;
  color: white;
  opacity: 0.8;
  margin-bottom: 34px;
}
@media (min-width: 764px) {
  .portfolio__link-description {
    font-size: 16px;
    font-weight: 400;
    color: #212021;
    margin-bottom: 30px;
    opacity: 0.9;
    line-height: 16px;
  }
}
@media (min-width: 764px) {
  .portfolio__link-description {
    font-size: 18px;
    font-weight: 400;
    color: #212021;
    margin-bottom: 40px;
    opacity: 0.9;
    line-height: 18px;
  }
}
.portfolio__link a {
  display: block;
}
.portfolio__link-btn {
  width: 188px;
  height: 27px;
}
@media (min-width: 764px) {
  .portfolio__link-btn {
    width: 226px;
    height: 36px;
  }
}
@media (min-width: 1440px) {
  .portfolio__link-btn {
    width: 220px;
    height: 28px;
  }
}
@media (min-width: 764px) {
  .portfolio__article1 {
    margin: 100px 18px 0 0;
  }
}
@media (min-width: 1440px) {
  .portfolio__article1 {
    margin: 175px 32px 0 0;
  }
}
@media (min-width: 764px) {
  .portfolio__flex-wrapper {
    margin-right: 18px;
  }
}
@media (min-width: 1440px) {
  .portfolio__flex-wrapper {
    margin-right: 32px;
  }
}
@media (min-width: 764px) {
  .portfolio__article4 {
    margin-top: 115px;
  }
}
@media (min-width: 1440px) {
  .portfolio__article4 {
    margin-top: 205px;
  }
}
.portfolio {
  background-color: #ffffff;
}
.portfolio__title {
  position: relative;
  font-size: 18px;
  font-weight: 550;
  color: #212021;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 135px 0 50px;
  background-image: url(../../img/work-mobile.png);
  background-repeat: no-repeat;
  -webkit-background-size: 232px 42px;
          background-size: 232px 42px;
  background-position: 50% 130px;
}
@media (min-width: 764px) {
  .portfolio__title {
    padding: 255px 0 60px;
    font-size: 24px;
    font-weight: 550;
    background-image: url(../../img/work-tablet.png);
    -webkit-background-size: 274px 51px;
            background-size: 274px 51px;
    background-position: 50% 244px;
  }
}
@media (min-width: 1440px) {
  .portfolio__title {
    padding: 280px 0 90px;
    font-size: 36px;
    font-weight: 600;
    background-image: url(../../img/work-desktop.png);
    -webkit-background-size: 416px 76px;
            background-size: 416px 76px;
    background-position: 50% 262px;
  }
}
.portfolio__title::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #cb98a8;
  height: 30px;
  width: 2px;
  left: 50%;
  top: 80px;
}
@media (min-width: 764px) {
  .portfolio__title::before {
    height: 40px;
    top: 150px;
  }
}
@media (min-width: 1440px) {
  .portfolio__title::before {
    height: 40px;
    top: 140px;
  }
}
.article__image1,
.article__image2,
.article__image3,
.article__image4 {
  height: 374px;
  width: 290px;
}
@media (min-width: 764px) {
  .article__image1 {
    width: 240px;
    height: 376px;
  }
}
@media (min-width: 1440px) {
  .article__image1 {
    width: 414px;
    height: 648px;
  }
}
@media (min-width: 764px) {
  .article__image2 {
    width: 184px;
    height: 229px;
  }
}
@media (min-width: 1440px) {
  .article__image2 {
    width: 317px;
    height: 396px;
  }
}
@media (min-width: 764px) {
  .article__image3 {
    width: 184px;
    height: 236px;
  }
}
@media (min-width: 1440px) {
  .article__image3 {
    width: 317px;
    height: 408px;
  }
}
@media (min-width: 764px) {
  .article__image4 {
    width: 184px;
    height: 287px;
  }
}
@media (min-width: 1440px) {
  .article__image4 {
    width: 315px;
    height: 495px;
  }
}
.article a {
  text-decoration: none;
  display: block;
}
.article__tag {
  font-size: 11px;
  font-weight: 300;
  opacity: 0.5;
  color: #1d1c1c;
  margin: 6px 0;
}
@media (min-width: 764px) {
  .article__tag {
    font-size: 12px;
  }
}
@media (min-width: 1440px) {
  .article__tag {
    font-size: 14px;
  }
}
.article__title {
  color: #1d1c1c;
  font-size: 18px;
  margin: 0 0 65px 0;
}
@media (min-width: 764px) {
  .article__title {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .article__title {
    font-size: 18px;
  }
}
