.header-logo {
  z-index:50;
  display: block;
  width: 112px;
  height: 33px;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media @tablet {
    width: 201px;
    height: 60px;
  }

  @media @desktop {
    width: 254px;
    height: 76px;
  }
}
.header-logo__image {
  display: block;
  width: 112px;
  height: 33px;

  @media @tablet {
   width: 201px;
    height: 60px;
  }

  @media @desktop {
    width: 254px;
    height: 76px;
  }
}
