.main-nav {
		display:flex;
	
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  
}
.main-nav__list{
	min-height: 480px;  
background-color: #f8f8f8;
}

.main-nav__number{
	display:none;
}
.main-nav__logo-wrapper{
	margin: 0 auto;
	width:320px;
	display:flex;
justify-content: space-between;
}
.main-nav__toggle
{
    position: relative;

    width: 21px;
    height: 21px;
    
    margin-right:20px;
    padding: 0;

    border: 0;
    outline: none;
    background-color: transparent;
    // right: 40px;
    //   top: 50%;

    align-self: center;
}

.main-nav--opened .main-nav__toggle{
  &::before,
  &::after {
    content: '';
display: block;
position: absolute;
top: 10;
z-index: 50;
width: 20px;
height: 2px;
background-color: @black;

  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.main-nav--closed .main-nav__toggle {
	&::before{
  	content:'';
  	width: 25px;
  height: 14px;
  display:block;
  position:absolute;
  // bottom: 20px;
  //    right: 0;
  right:10px;
  top:5px;
  background-image:url(../../img/menu-mobile.png);
  }
  &::after {
      display: none;
}
}
.main-nav--no-js .main-nav__toggle {
  display: none;
}
 .main-nav--closed .site-navigation{
    display: none;
  }
  
.main-nav--opened .site-navigation {
	position:absolute;
	top:0px;
	right:0;
	left:0;
	z-index:10;
    display: block;
  }
  .main-nav--no-js .site-navigation{
    display: block;
  }

@media (max-width: @mobile-l-max-width) {
 
.main-nav--no-js .main-nav__toggle {
  display: none;
}
  .main-nav--closed .site-navigation,
  .main-nav--closed .user-navigation {
    display: none;
  }
  
.main-nav--opened .site-navigation,
  .main-nav--opened .user-navigation {
    display: block;
  }
  .main-nav--no-js .site-navigation, 
   .main-nav--no-js .user-navigation,{
    display: block;
  }

}


@media @tablet {
	.main-nav--closed .main-nav__toggle {
	&::before{

  background-image:url(../../img/menu-tablet.png);
  }  
}
.main-nav__number{
	display:block;
	margin-left:148px;
	  align-self: center;
	  color:#3b3b3b;
	  font-size: 18px;
	  font-weight: 600;
}
.main-nav {
		justify-content:flex-start;
	}
.main-nav__logo-wrapper{
	margin: 0;
	width:auto;
	justify-content:space-between;
	
}
.main-nav__toggle{
margin-left:140px;
margin-right:0;
}
.main-nav--opened .main-nav__toggle{
  
margin-left:500px;
}
}
