.main-nav
{
    display: flex;

    box-sizing: border-box;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
}
.main-nav__list
{
    display: none;

    background-color: #f8f8f8;

    .list-reset();
}

.main-nav__number
{
    display: none;
}
.main-nav__logo-wrapper
{
    z-index: 50;

    display: flex;

    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;

    justify-content: space-between;
}

.main-nav__toggle
{
    position: relative;

    width: 21px;
    height: 21px;
    margin-right: 20px;
    padding: 0;

    border: 0;
    outline: none;
    background-color: transparent;

    align-self: center;
}


.main-nav--opened .main-nav__toggle
{
    &::before,
    &::after
    {
        position: absolute;
        z-index: 50;
        top: 5px;

        display: block;

        width: 20px;
        height: 2px;

        content: '';

        background-color: @black;
    }

    &::before
    {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after
    {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
.main-nav--closed .main-nav__toggle
{
    &::before
    {
        position: absolute;
        top: 5px;
        // bottom: 20px;
        //    right: 0;
        right: 10px;

        display: block;

        width: 25px;
        height: 14px;

        content: '';

        background-image: url(../img/menu-mobile.png);
    }
    &::after
    {
        display: none;
    }
}

.main-nav--no-js .main-nav__toggle
{
    display: none;
}


.main-nav--opened .main-nav__list
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    display: block;
}
.main-nav--no-js .main-nav__list
{
    display: block;
}

@media (max-width: @mobile-l-max-width)
{
    .main-nav--no-js .main-nav__toggle
    {
        display: none;
    }
    .main-nav--closed .main-nav__list
    {
        display: none;
    }

    .main-nav--opened .main-nav__list
    {
        display: block;
    }
    .main-nav--no-js .main-nav__list
    {
        display: block;
    }
}


@media @tablet
{
    .main-nav--closed .main-nav__toggle
    {
        &::before
        {
            background-image: url(../img/menu-tablet.png);
        }
    }
    .main-nav__number
    {
        font-size: 18px;
        font-weight: 600;

        display: block;

        margin-left: 148px;

        color: #3b3b3b;

        align-self: center;
    }
    .main-nav
    {
        width: 764px;

        justify-content: flex-start;
    }
    .main-nav__logo-wrapper
    {
        width: auto;
        margin: 0;
    }
    .main-nav--opened .main-nav__number
    {
        display: none;
    }

    .main-nav__toggle
    {
        margin-right: 0;
        margin-left: 140px;
    }
    .main-nav--opened .main-nav__toggle
    {
        margin-left: 500px;
    }
}

@media @desktop
{
    .main-nav__toggle
    {
        display: none;
    }
    .main-nav__list
    {
        display: flex;

        background-color: transparent;
    }
    .main-nav
    {
        width: auto;
    }
    .main-nav__number
    {
        margin: 0;

        color: rgba(144, 144, 144, .6);
    }
}
