.portfolio__wrapper{
	position:relative;
margin: 0 auto;
min-width: 320px;
padding:0 15px;
box-sizing:border-box;
max-width:1440px;

@media @tablet {
	// width:764px;
	padding:0 63px;
display:flex;
// align-items: center;
justify-content:space-between;
flex-shrink: 0;

}
@media @desktop {
	// width:1440px;
	padding:0 168px;

}
}
.portfolio__pagination{
	display:none;
}
@media @desktop{
.portfolio__pagination{	
	position:absolute;
		display:block;
		left:19px;
		top:280px;
		// width:70px;
	}
.portfolio__pagination a{
	display:block;
	margin-bottom:20px;
}
	.portfolio__pagination-item{
		width: 37px;
		height:22px;
		margin-bottom:5px;
		
	}
	.portfolio__pagination-item--2	{
		background-image:url(../../img/pag/long.line.png);
		background-repeat:no-repeat;
		background-size:37px 2px;
		background-position:bottom 0 left 0;
		text-align:right;
         font-size: 16px;
	}
	.portfolio__pagination-item--1,
	.portfolio__pagination-item--3,
	.portfolio__pagination-item--4,
	.portfolio__pagination-item--5{
	background-image:url(../../img/pag/line.png);
		background-size:11px 1px;
		background-repeat:no-repeat;
		background-position:bottom 0 left 0;
		opacity:0.3;
	}
}

.portfolio__link{
margin: 0 auto;
width: 320px;
padding:0;
box-sizing:border-box;
background-image:url(../../img/portf-link-mob.jpg);
background-repeat:no-repeat;
background-size:320px 380px;

@media @tablet {
	width:764px;
	padding:0;
	background-image:url(../../img/portf-link-tab.jpg);
background-repeat:no-repeat;
background-size:702px 371px;

}
@media @desktop {
	width:1440px;
background-image:url(../../img/portf-link-desk.jpg);
background-repeat:no-repeat;
background-size:1128px 506px;
}
}

.portfolio__link-wrapper{
	padding:120px 76px 115px 46px;
	@media @tablet {
	padding:106px 240px 113px 283px;
	}
	@media @desktop {
	padding:148px 535px 191px 644px;
	}
}
.portfolio__link-title{
	font-size: 18px;
	font-weight: 600;
	color:@white;
	margin:0;
	opacity:0.9;
@media @tablet {
	font-size: 24px;
	font-weight: 600;
	color:#212021;
	margin:0;
	opacity:1;
}

}
.portfolio__link-description{
	font-size: 14px;
	color:white;
	opacity:0.8;
	margin-bottom:34px;
	@media @tablet {
	font-size: 16px;
	font-weight: 400;
	color:#212021;
	margin-bottom:30px;
	opacity:0.9;
	line-height:16px;
}
@media @tablet {
	font-size: 18px;
	font-weight: 400;
	color:#212021;
	margin-bottom:40px;
	opacity:0.9;
	line-height:18px;
}
}
.portfolio__link a{
	display:block;
}
.portfolio__link-btn{
	width:188px;
	height:27px;
	@media @tablet {
	width:226px;
	height:36px;

}
@media @desktop {
	width:220px;
	height:28px;

}
}
.portfolio__article1{
	@media @tablet {
	margin:100px 0px 0 0;
	width: 240px;

}
@media @desktop {
	margin:175px 0px 0 0;
	width: 414px;
}
}

.portfolio__flex-wrapper{
	@media @tablet {
	margin-right:0;
	width: 184px;
}

@media @desktop {
	
	margin-right:0;
	width: 317px;
}
}

.portfolio__article4{
	@media @tablet {
	margin-top:115px;
		width: 184px;

}
@media @desktop {
	margin-top:205px;
	width: 315px;

}
}

.portfolio{
background-color:@white;
}



.portfolio__title{
	position:relative;
font-size: 18px;
font-weight: 550;
color:#212021;
letter-spacing: 2px;
text-transform: uppercase;
text-align:center;
margin:0;
padding:135px 0 50px;	
background-image:url(../../img/work-mobile.png);
background-repeat:no-repeat;
background-size:232px 42px;
background-position:50% 130px;
@media @tablet {
padding:255px 0 60px;	
font-size: 24px;
font-weight: 550;	
background-image:url(../../img/work-tablet.png);
background-size:274px 51px;
background-position:50% 244px;
}
@media @desktop {
padding:280px 0 90px;	
font-size: 36px;
font-weight: 600;	
background-image:url(../../img/work-desktop.png);
background-size:416px 76px;
background-position:50% 262px;
}
&::before{
	content:'';
	display:block;
	position:absolute;
	background-color:rgb(203, 152, 168);
	height:30px;
	width: 2px;
	left:50%;
	top:80px;
	@media @tablet {
		height:40px;
	top:150px;
}
@media @desktop {
		height:40px;
	top:140px;
}
}
}