.promo{
	width:320px;
height:480px;
background-image:url(../img/header-mobile.png);
color:@white;
}
.promo__wrapper{
margin-top:-37px;
padding-top:193px;
padding-left:14px;
padding-right:77px;
}
.promo__title{
	margin:0;
	font-size: 30px;
	font-weight: 500;
}
.promo__description{
	font-size: 14px;
	opacity: 0.8;
}
.promo__link a{
	text-transform: uppercase
}