.site-navigation{
font-size: 22px;
font-weight: 600;
line-height:30px;
letter-spacing: 3px;
padding-top:100px;
 text-align: center;
.list-reset();	
}

.site-navigation__item{
	padding-bottom:20px;
	
}
.site-navigation__item a{

	 display:inline-block;
	 text-decoration: none;
	 color:@black;
	

}	
